* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width:1440px ;
    margin: auto;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000; 
    overflow-x: hidden; 
}

header {
    height: 10vh;
    width: 100%;
    
}

.burger {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #000000;
    cursor: pointer;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    /*position: fixed;
    top: 0;
    width: 90%;
    z-index: 1000;*/
   
}

header .logo{
    width: 20%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

header .logo img{
    width: 100px;
    height: 30px;
}

.nav-links {
    width: 60%;
    height: 10vh;
    list-style: none;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    gap: 100px;
    transition: all 0.3s ease;   
}

.nav-links li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
  text-decoration: underline;
    color: #81A969;
}

.sociallinks-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-right: 20px;
  }
  
  .sociallinks-header img {
    width: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .sociallinks-header img:hover {
    transform: scale(1.2);
    opacity: 0.8;
  }

.main-content {
    width: 100%;
    height: 300vh;
    text-align: center;
}

.home{
    width: 100%;
    height: 100vh;
   
}

.logo-home{
    width: 100%;
    height: 80vh;
    background-image: url(./assets/IMG_8386.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 150px;
    
}

.logo-home p {
    padding-top: 20px;
    font-size: 2em;
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;   
}
.Logo img{
  width: 700px;
  height: 200px;
}
 .accueil {
  color: #81A969;
}


.marquee {
    width: 100%;
    height: 20vh;
    white-space: nowrap;
    display: inline-block;
    animation: scroll 20s linear infinite; 
}
  
  @keyframes scroll {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .marquee span {
    font-size: 40px;
    color: #000000;
    padding-left: 20px;
    font-family: "Staatliches", sans-serif;
    font-style: normal;
    letter-spacing: 2px;
    word-spacing: 10px;
  }

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mission-container {
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 40px 20px;
    background-color: #D6D1CA;

  }

  .mission-title {
    font-size: 3rem;
    color: #000000;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  
 .mission-text1 {
    font-size: 1.5rem;
    color: #000000;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
  }

  
  .mission-text2 {
    font-size: 1.5rem;
    color: #000000;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
   
  .mission-text3 {
    font-size: 0.8rem;
    color: #000000;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .mission-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    flex-wrap: wrap;
    padding-top: 50px;
  }
  
  .mission-button1 {
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 40px;
    border-radius: 50px 50px;
    font-size: 2rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .mission-button2 {
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border-radius: 50px 50px;
    font-size: 2rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .mission-button3 {
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 80px;
    border-radius: 50px 50px;
    font-size: 2rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .mission-button1:hover {
    background-color: #81A969;
    transform: scale(1.05);
  }

  .mission-button2:hover {
    background-color: #81A969;
    transform: scale(1.05);
  }

  .mission-button3:hover {
    background-color: #81A969;
    transform: scale(1.05);
  }

  .section-container {
    width: 100%;
    height: 350vh;
  }
  
  .offer-section{
    background-color: #D6D1CA;
    height: 100vh;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
  }
  .partners-section {
    height: 100vh;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
  }
  
  .section-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .section-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.6;
    max-width: 800px;
  }

  .image-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .image-gallery .image-item {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
  }
  
  .image-gallery .image1 {
    background-image: url("./assets/Photo\ linge\ BGL.jpg");
  }
  
  .image-gallery .image2 {
    background-image: url("./assets/IMG_2.jpg");
  }
  
  .image-gallery .image3 {
    background-image: url("./assets/img3.jpg");
  }
  
  .image-gallery .image4 {
    background-image: url("./assets/Prototype\ vêtement\ 1.jpg");
  }
  
  .responsive-image {
    width: 20%;
    height: 50%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .partners-logos {
    display: flex;
    gap: 200px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .partner-logo {
    width: 250px;
    height: auto;
    object-fit: contain;
  }
  
  .instagram-button .button {
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    border-radius: 20px 20px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: solid #000000;
  }
  
  .instagram-button .button:hover {
    background-color: #81A969;
    transform: scale(1.05);
  }
   

  .full-height-image {
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    display: flex; /* Centre l'image */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    background-color: #f4f4f4; /* Couleur de fond (optionnel) */
    overflow: hidden; /* Assure que rien ne dépasse */
  }
  .mission-buttons{
    background-color: #D6D1CA;
  }
  
  .full-height-image img {
    max-height: 100%; /* Adapte la hauteur au conteneur */
    max-width: 100%; /* Adapte la largeur au conteneur */
    object-fit: cover; /* Remplit le conteneur sans déformer l'image */
  }
  
.footer {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    color: #000000;
    flex-wrap: wrap;
  }
  
  .footer-left {
    max-width: 40%;
  }
  
  .footer-logo {
    width: 200px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
  }
  
  .footer-logo:hover {
    transform: scale(1.1);
  }
  
  .footer-left p,
  .footer-left a {
    margin: 5px 0;
    font-size: 25px;
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;   
  }
  
  .footer-left a {
    text-decoration: none;
    color: #81A969;
    transition: color 0.3s ease;
  }
  
  .footer-left a:hover {
    color: #81A969;
  }
  
  .footer-right {
    text-align: right;
    max-width: 40%;
    margin-top: 20px;
  }
  
  .sociallinks-footer {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    margin-bottom: 20px;
  }
  
  .sociallinks-footer img {
    width: 50px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .sociallinks-footer img:hover {
    transform: scale(1.2);
    opacity: 0.8;
  }
  
  .footer-right a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    transition: color 0.3s ease;
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;   
  }
  
  .footer-right a:hover {
    color: #81A969;
  }
  

  #back-to-top {
    position: fixed;
    bottom: 200px; /* Position depuis le bas */
    right: 40px; /* Position depuis la droite */
    width: 50px; /* Largeur de la flèche */
    height: 50px; /* Hauteur de la flèche */
    background-color: #D6D1CA; /* Couleur de fond */
    color: #000000;
    border: solid #000000;
    text-align: center; /* Centrer le texte (la flèche) */
    line-height: 50px; /* Centrer verticalement le texte */
    font-size: 24px; /* Taille de la flèche */
    border-radius: 25%; /* Forme ronde */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Légère ombre */
    cursor: pointer; /* Pointeur en forme de main */
    text-decoration: none; /* Supprime le soulignement */
    display: none; /* Cachée par défaut */
    z-index: 1000; 
  }
  
  #back-to-top:hover {
    background-color: #FFFFFF;
    cursor: pointer;
    color: #81A969;
    border: solid #81A969;
  }
  @media (max-width: 768px) {

    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #81A969;
        width: 100%;
        height: 0;
        overflow: hidden;
        opacity: 0;
    }

    .video-container video {
        object-fit: contain;
      }

    .social-links {
        display: none;
    }

    .burger {
        display: block;
    }

    .mission-text {
        font-size: 0.9rem;
      }
    
      .mission-button {
        padding: 8px 15px;
        font-size: 0.9rem;
      }

      .section-title {
        font-size: 2rem;
      }
    
      .section-text {
        font-size: 0.9rem;
      }
    
      .image-grid {
        grid-template-columns: 1fr;
      }
    
      .partner-logo {
        width: 120px;
      }
    
      .instagram-button .button {
        font-size: 0.9rem;
        padding: 8px 15px;
      }

    .footer {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-left,
    .footer-right {
      max-width: 100%;
      text-align: center;
    }
  
    .sociallinks-footer {
      justify-content: center;
    }
  }
  